@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=contrail+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


*::selection {
    background-color: #dd822d;
    text-shadow: 2px 2px 4px black;
    color: aliceblue;

}

body {
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #e32b2b, #ff8a00);
    color: white;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

#titulo {
    font-family: 'contrail One', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 20px 0 10px 0;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


#menu-burguer {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 2.6rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    z-index: 20;
}

header h3 {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #8f4311 0%, #e0875a 60%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px 0;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    border-top: 8px solid #000;
    width: 100%;
    box-sizing: border-box;
}

header h3:hover {
    color: #e7d8d8;
    background: linear-gradient(90deg, #e0875a 0%, #8f4311 60%);
    box-shadow: inset 0 0 8px rgba(255, 200, 150, 0.3);
}

main {
    width: 95%;
    position: relative;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #000;
}

main section {
    width: 100%;
    background: #000;
    padding-bottom: 0;
}

main h2 {
    font-family: 'Oswald', sans-serif;
    background: #000;
    color: #fff;
    font-size: rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 8px 10px;
    margin-bottom: 10px;
    position: relative;
}

main h2::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #ff7b00;
    margin-top: 10px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50.60%);
    position: absolute;
    
}

main section article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 16px;
    width: 100%;
    background: #000;
    padding: 0 20px;
    justify-items: center;
    text-transform: none;
}

main section article img {
    width: 200px;
    height: 130px;
    margin: 10px, 15px, 10px,15px;
    background: #555;
    border-radius: 4px;
    border: 1px solid #444;
    object-fit: cover;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    display: block;
    display:flex; 

}


main section article img:hover {
    transform: scale(1.4);
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.6);
    border-color: #ff8c00;
}

main section article p {
    font-family: 'Montserrat', sans-serif;
    color: #e7d8d8;
    background-color: #000000;
    text-transform: none;

}

footer {
    font-family: 'Montserrat', sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 900px;
    text-align: center;
    color: #f1dfda;
    font-family: "Playfair Display", serif;
    background-color: #000000;
    font-size: 14px;
    border-top: 5px solid #dd5d36;
    padding: 15px 20px 15px 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 0%;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}

.escondido {
    opacity: 0%;
    left: 200% !important; 
}

#menu {
    position: absolute;
    float: right;
    left: 80%;
    transition: left 600ms ease-in-out;
}

#janela-adicionar-filme {
    transition: opacity 300ms ease-in-out;
    float: left;
    position: absolute;
    left: 15%;
    width: 70%;
    display: flex; 
    top: 20%;
    flex-direction: column;
    background-color: black;
}

#janela-adicionar-filme > section {
    display: flex;
    flex-direction: row;
}

#janela-adicionar-filme > section > article {
    display: flex;
    flex-direction: column;
}

#janela-adicionar-filme > section > article > img {
    display: block;
    margin: auto;
}

 .conteudo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}
.descricao-curta {
    font-style: italic;
    color: #aaaaaa;
    margin-bottom: 10px;
    text-align: center;
}
.descricao-longa {
    display: none;
    margin-top: 15px;
    font-size: 15px;
    color: #d3c992;
    text-align: left;
    width: 100%;
}

 .lista-itens {
    display: flex;
    margin: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    font-family: "Gideon Roman", serif;
    color: #d1c895;
    max-width: 1000px;
    padding: 0px 15px 0px 15px;
}

#pesquisa {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px 12px 20px;
    border: 2px solid #bea964;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 5px 0px rgba(190, 169, 99, 0.329);
    color: #1d1d1d;
    border-radius: 100px;
} 


.conteudo-item.expanded {
  max-height: 500px;
}

#acao {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;            
    justify-content: flex-start;    
}
#acao article {
    margin-right: 50px;
    display: flex ;
    width: 150px; 
    padding-top: 100px;
}
#aventura {
    display: flex;
    flex-wrap: wrap;      
    gap: 20px;            
    justify-content: flex-start;    
}
#aventura article {
    margin-right: 50px;
    display: flex ;
    width: 150px; 
    padding-top: 100px;
}

#janela-adicionar-filme > section > button {
    background-color: black;
    color: white;
    border: none;
    margin: 3%;
    position: relative;
    top: -7px;
}