* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-shadow: #111;
}


*::selection {
    background-color: #dd822d;
    text-shadow: 2px 2px 4px black;
    color: aliceblue;
}

body {
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #e32b2b, #ff8a00);
    color: white;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

#titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 18px 0 8px 0;
    position: relative;
}


#menu-burguer {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 2.6rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

header h3 {
    background: linear-gradient(90deg, #8f4311 0%, #e0875a 60%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px 0;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    border-top: 8px solid #000; 
    width: 100%;
    box-sizing: border-box;
}

header h3:hover {
    color: #e7d8d8;
    background: linear-gradient(90deg,  #e0875a 0%, #8f4311 60%);
    box-shadow: inset 0 0 8px rgba(255, 200, 150, 0.3);
}

