@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=contrail+One&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


*::selection {
    background-color: #dd822d;
    text-shadow: 2px 2px 4px black;
    color: aliceblue;

}

body{
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #e32b2b, #ff8a00);
    color: white;
    position: relative;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

header h3 {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #8f4311 0%, #e0875a 60%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px 0;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    border-top: 8px solid #000;
    width: 100%;
    box-sizing: border-box;
}

header h3:hover {
    color: #e7d8d8;
    background: linear-gradient(90deg, #e0875a 0%, #8f4311 60%);
    box-shadow: inset 0 0 8px rgba(255, 200, 150, 0.3);
}
#titulo {
    font-family: 'contrail One', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 20px 0 10px 0;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}



main{
    width: 95%;
    max-width: 1300px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    gap: 25px;
    border-radius: 4px;
}

main section:first-child{
    background: linear-gradient(180deg, #ff4d2a, #ff8d00);
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    box-shadow: 0 0 15px rgba(255,100,0,0.4);
    gap: 10px;
    border: 2px solid #ff8a00;
}

main section:first-child img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #333; 
    margin-bottom: 15px;
}


main section:first-child h2{
    font-size: 1.4rem;
    margin: 5px 0 20px;
    font-weight: bold;
}


main section:nth-child(2),
main section:nth-child(3){
    padding: 10px 0;
}


main section:nth-child(2) h2,
main section:nth-child(3) h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
    position: relative;
}


main section:nth-child(2) h2::after,
main section:nth-child(3) h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -5px;
    background: linear-gradient(90deg, #ff8a00, transparent);
}



main section article {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
}

main section article img{
    width: 130px;
    height: 170px;
    background: #555;
    border-radius: 10px;
}


footer {
    font-family: 'Montserrat', sans-serif;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 900px;
    text-align: center;
    color: #f1dfda;
    font-family: "Playfair Display", serif;
    background-color: #000000;
    font-size: 14px;
    border-top: 5px solid #dd5d36;
    padding: 15px 20px 15px 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 0%;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}